MYSQL_PASSWORD=your_mysql_password
PORT=3500
DEMO_CREDIT_ADJUSTOR_ID=you_adjustor_project_id
DEMO_CREDIT_ADJUSTOR_API_KEY=your_adjustor_project_api_key
DATABASE_HOST=127.0.0.1_or_db_host
DATABASE_ADMIN=database_username
DATABASE_NAME=lendsqr_wallet
DATABASE_PORT=port_number