# node modules folder
node_modules
# typescript build folder
dist
# enviromental variable
.env
.env.example
# restclient test file
rest-test.rest
# npm chache
.npm
# random note file
notes.md









